body{
    background-color: LightGoldenRodYellow;
}

h2{
    text-align:center;
    font-size:18px;
    font-family: 'Baloo Tammudu', cursive;
    color: midnightblue;
    background-color:rgb(135,206,235);
    background-color:rgba(135,206,235,.30);
}

h1{
    font-size:20px;
    font-family:courier;
    color: midnightblue;
}

p{
    font-size:16px;
    font-family:georgia;
    color:#87CEEB;
    line-height:1.1;
}

li{
    font-size:18px;
    font-family:'Roboto', sans-serif;
    line-height:3.5;
    list-style-type: square;
    color:blue;
    
}
ol{
    list-style-type:upper-roman;
}

.header{
    margin-right:15%;
    margin-left:15%;
    border: 6px solid midnightblue;
    background-color: lightblue;
    padding: 0 30 30 30;
    margin-top: 0;
    color: blue;
    
}

.information{
     margin-right:15%;
    margin-left:15%;
}

.list{
     margin-right:15%;
    margin-left:15%;
    margin-top: 0;
    padding: 0;
   list-style-type:upper-roman;
}

.topics{
     margin-right:15%;
    margin-left:15%;
    color: midnightblue;
    font-size:24px;
    text-decoration:underline;
    list-style-type:none;
}

img{
    border-radius:50%;
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}

a:link{
    color:pink;
    text-decoration: none;
}

a:visited{
    color:Green;
    text-decoration: none;
}

a:hover{
    color:blue;
    text-decoration: underline;
}

a:active{
    color: blue;
    text-decoration: underline;
}

li:hover{
    font-size: 24px;
    }
