body{
    background-color: deeppink;
}

h2{
    text-align:center;
    font-size:18px;
    font-family: 'Baloo Tammudu', cursive;
    color: red;
    background-color:rgb(255,105,180);
    background-color:rgba(255,105,180,0.30);
}

h1{
    font-size:20px;
    font-family:courier;
    color: red;
}

p{
    font-size:16px;
    font-family:georgia;
    color:rgb(255,182,193);
    line-height:1.1;
}

ul{
    font-size:18px;
    font-family:'Roboto', sans-serif;
    color:#ffc0cb;
    line-height:3.5;
    list-style-type: square;
}
ol{
    list-style-type:upper-roman;
}


