.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10, .q11, .q12, .q13, .q14, .q15, .q16, .q17, .q18, .q1-choice, .q2-choice, .q3-choice, .q4-choice, .q5-choice, .q6-choice, .q7-choice, .q8-choice, .q9-choice, .q10-choice, .q11-choice, .q12-choice, .q13-choice, .q14-choice, .q15-choice, .q16-choice, .q17-choice, .q18-choice{
    display:none;
}

body{
    background-image:url("persona5.gif");
    color:white;
}

.sidebar{
    color:white;
    border:solid 2px black;
    width:25%;
    float:left;
}